<H1>Add Peer</H1>
<h3>
  <a href="/">back</a>
</h3>
You are asking to be added to the existing network

<ul>
  <li>port= : entry port</li>
</ul>

Example:
<a href="/addPeer?port=3000">
  /addPeer?port=3000
</a>