<H1>Add Transaction</H1>
<h3>
  <a href="/">back</a>
</h3>


to add a transaction, you need to add these query parameters:

<ul>
  <li>from=Alice</li>
  <li>to=Bob</li>
  <li>amount=100</li>
</ul>

Example:
<a href="/addTransaction?from=Alice&to=Bob&amount=100">
  /addTransaction?from=Alice&to=Bob&amount=100
</a>