<H1>List Peers </H1>
<h3>
    <a href="/">back</a>
</h3>

<ul>
  <% urls.forEach(function(url, index) { %>
    <li>
      <h3><%= index %></h3>
      <a href="<%= url %>"><%= url %></a></li>
  <% }) %>
</ul>