<H1>Peer blocks </H1>
<h3>
    <a href="/">back</a>
</h3>

<div>
To get the blocks from another peer.
</div>

<h3>Required params</h3>
<ul>
  <li>peerId= </li>
</ul>

<h3>Example:</h3>
<a href="/peerBlocks?peerId=0">
  /peerBlocks?peerId=0
</a>